h1{
    text-align: center;
    font-size: 70px;
    color: #ffff;
}
h1:hover{
    color: #000000;
    max-width: fit-content;
    margin: 0 auto;
}
p{
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
    max-width: 20%;
}
body{
    background-color: #fda4ba;
}
.education{
    color: #ffff;
    font-size: 16px;
}
.Atonement{
    color: #ffff;
    font-size: 30px;
}
ol{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 250px;
}